@page "/laboratories-overview"

<h3>Laboratories Overview</h3>
<h3 class="fw-bold">Laboratories</h3>
@if (Laboratories == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <tabel class="table table-light">
        <thead class="table-primary">
        <th>No.</th>
        <th>Laboratory Id</th>
        <th>Name</th>
        <th>Active</th>
        </thead>

        <tbody>
            @foreach (var laboratory in Laboratories)
            {
                <tr>
                    <td>@(@Laboratories.IndexOf(laboratory) + 1)</td>
                    <td>@laboratory.Id</td>
                    <td>@laboratory.Name</td>
                    <td>@laboratory.IsActive</td>
                    <td><button class="btn-outline-secondary" @onclick="(() => ViewLaboratory(laboratory.Id))">View</button></td>
                    <td><button class="btn-outline-secondary" @onclick="(() => DeleteLaboratory(laboratory.Id))">Delete</button></td>
                </tr>
            }
        </tbody>
    </tabel>
}

<section id="create-laboratory" class="mt-5">
    <h3 class="fw-bold">Add new laboratory</h3>
    @if (NewLaboratory == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <EditForm Model="@NewLaboratory" OnValidSubmit="@CreateLaboratory">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div>
                <label>
                    Name <br />
                    <InputText id="name" @bind-Value=NewLaboratory.Name DisplayName="Name" />
                    <br />
                </label>
            </div>

            <div>
                <p>Select a course</p>
                <label>
                    <InputSelect id="select-course" @bind-Value="NewLaboratory.CourseId" class="form-control">
                        @foreach (var course in Courses)
                        {
                            <option value="@course.Id" class="text-black">@course.Name</option>
                        }
                    </InputSelect>
                </label>
            </div>

            <div>
                <p>Select a professor</p>
                <label>
                    <InputSelect id="select-professor" @bind-Value="NewLaboratory.ProfessorId" class="form-control">
                        @foreach (var professor in Professors)
                        {
                            <option value="@professor.Id" class="text-black">@professor.Name @professor.Surname</option>
                        }
                    </InputSelect>
                </label>
            </div>

            <div>
                <label>
                    Date and time <br />
                    <InputText id="laboratory-date-time" @bind-Value=NewLaboratory.DateTime DisplayName="Date and time" />
                    <br />
                </label>
            </div>

            <div>
                <label>
                    Place <br />
                    <InputText id="laboratory-place" @bind-Value=NewLaboratory.Place DisplayName="Place" />
                    <br />
                </label>
            </div>

            <button type="submit">Add</button>
        </EditForm>
    }
</section>

@if(viewLaboratorySectionIsActive)
{
    <section id="update-laboratory" class="mt-5">
        <h3 class="fw-bold">View and edit the selected laboratory</h3>

        <button type="submit" @onclick="CloseView">Close view</button>

        <div style="border:black 3px">
            <h4>Name: @LaboratoryToView.Name</h4>
            <h4>Id: @LaboratoryToView.Id</h4>
            <h4>Active: @LaboratoryToView.IsActive</h4>

            <br />
            <h4>Professor</h4>
            <td>@LaboratoryToView.LaboratoryProfessor.Name</td>
            <td>@LaboratoryToView.LaboratoryProfessor.Surname</td>

            <br />
            <h4>Students</h4>
            <tabel class="table table-light">
                <thead class="table-primary">
                <th>No.</th>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Year</th>
                <th>Group</th>
                <th>Active</th>
                <th>Registration number</th>
                </thead>
                <tbody>
                    @foreach (var student in LaboratoryToView?.LaboratoryStudents)
                    {
                        <tr>
                            <td>@(@LaboratoryToView.LaboratoryStudents.IndexOf(student) + 1)</td>
                            <td>@student.StudentId</td>
                            <td>@student.Name</td>
                            <td>@student.Surname</td>
                            <td>@student.Year</td>
                            <td>@student.Group</td>
                            <td>@student.IsActive</td>
                            <td>@student.RegistrationNumber</td>
                        </tr>
                    }
                </tbody>
            </tabel>

            <br />
            <h4>Announcements</h4>
            <tabel class="table table-light">
                <thead class="table-primary">
                <th>No.</th>
                <th>Header</th>
                <th>Text</th>
                <th>Date</th>
                </thead>
                <tbody>
                    @foreach (var announcement in LaboratoryToView?.LaboratoryAnnouncements)
                    {
                        <tr>
                            <td>@(@LaboratoryToView.LaboratoryAnnouncements.IndexOf(announcement) + 1)</td>
                            <td>@announcement.Header</td>
                            <td>@announcement.Text</td>
                            <td>@announcement.PostingDate</td>
                        </tr>
                    }
                </tbody>
            </tabel>

            <br />
            <h4>Grading information</h4>
            <tabel class="table table-light">
                <thead class="table-primary">
                <th>No.</th>
                <th>Type</th>
                <th>Minimun Grade</th>
                <th>Maximum Grade</th>
                <th>Mandatory</th>
                <th>Description</th>
                </thead>
                <tbody>
                    @foreach (var grading in LaboratoryToView?.LaboratoryGradingInfo)
                    {
                        <tr>
                            <td>@(@LaboratoryToView.LaboratoryGradingInfo.IndexOf(grading) + 1)</td>
                            <td>@grading.ExaminationType</td>
                            <td>@grading.MinGrade</td>
                            <td>@grading.MaxGrade</td>
                            <td>@grading.IsMandatory</td>
                            <td>@grading.Description</td>
                        </tr>
                    }
                </tbody>
            </tabel>

            <br />
            <h4>Catalog</h4>
            <tabel class="table table-light">
                <thead class="table-primary">
                <th>No.</th>
                <th>Student</th>
                <th>Final grade</th>
                </thead>
                <tbody>
                    @if (LaboratoryToView?.LaboratoryCatalog?.StudentGrades != null)
                    {
                        @foreach (var studentGrades in LaboratoryToView?.LaboratoryCatalog?.StudentGrades)
                        {
                            <tr>
                                <td>@(@LaboratoryToView.LaboratoryCatalog.StudentGrades.IndexOf(studentGrades) + 1)</td>
                                <td>@studentGrades.Student</td>

                                @foreach (var grade in studentGrades?.Grades)
                                {
                                    <td>@grade.Mark</td>
                                }

                                <td>@studentGrades.FinalGrade</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <p>There are no grades yet.</p>
                    }

                </tbody>
            </tabel>
        </div>

        <div class="col-sm-10">
            <div>
                <br />
                <br />
                <br />
                <p class="fw-bold">Update name</p>
                Name
                <br />
                <InputText id="name" @bind-Value=UpdateLaboratoryName DisplayName="Name" />
                <button type="submit" @onclick="UpdateName">Update</button>
            </div>

            <div>
                <br />
                <br />
                <br />
                <p class="fw-bold">Update active status</p>
                <br />
                <button type="submit" onclick="@(() => UpdateActiveStatus(true))">Set active</button>
                <button type="submit" onclick="@(() => UpdateActiveStatus(false))">Set inactive</button>
            </div>

            <div>
                <br />
                <br />
                <br />
                <p class="fw-bold">Add students</p>
                <p>Select student</p>
                <div id="select-students">
                    <InputSelect id="add-students-to-laboratory" @bind-Value="updateStudentId" class="form-control">
                        @foreach (var student in Students)
                        {
                            <option value="@student.StudentId" class="text-black-50">@student.Name @student.Surname</option>
                        }
                    </InputSelect>
                </div>

                <button type="submit" @onclick="AddStudentsToLaboratory">Update</button>
            </div>

            <div>
                <br />
                <br />
                <br />
                <p class="fw-bold">Remove students</p>
                <p>Select student</p>
                <div id="select-students-to-remove">
                    <InputSelect id="remove-student-from-laboratory" @bind-Value="removeStudentId" class="form-control">
                        @foreach (var student in Students)
                        {
                            <option value="@student.StudentId" class="text-black-50">@student.Name @student.Surname</option>
                        }
                    </InputSelect>
                </div>
                <button type="submit" @onclick="RemoveStudentsFromLaboratory">Update</button>
            </div>

            <div>
                <br />
                <br />
                <br />
                <p class="fw-bold">Add announcements</p>

                <div>
                    <label>
                        Header <br />
                        <InputText id="header" @bind-Value=announcementHeader DisplayName="Header" />
                        <br />
                    </label>
                </div>

                <div>
                    <label>
                        Text <br />
                        <InputText id="text" @bind-Value=announcementText DisplayName="Text" />
                        <br />
                    </label>
                </div>

                <p>Select professor</p>
                <div>
                     <InputSelect id="select-professor-for-announcement" @bind-Value="announcementProfessorId" class="form-control">
                        @foreach (var professor in Professors)
                        {
                            <option value="@professor.Id" class="text-black-50">@professor.Name @professor.Surname</option>
                        }
                    </InputSelect>
                </div>

                <button type="submit" @onclick="AddAnnouncementToLaboratory">Update</button>
            </div>

            <div>
                <br />
                <br />
                <br />
                <p class="fw-bold">Remove announcements</p>
                <p>Select announcement</p>
                <div id="select-announcement-to-remove">
                    <InputSelect id="remove-announcement-from-laboratory" @bind-Value="removeAnnouncementId" class="form-control">
                        @foreach (var announcement in LaboratoryToView.LaboratoryAnnouncements)
                        {
                            <option value="@announcement.Id" class="text-black-50">@announcement.Header</option>
                        }
                    </InputSelect>
                </div>
                <button type="submit" @onclick="RemoveAnnouncementFromLaboratory">Update</button>
            </div>

            <div>
                <br />
                <br />
                <br />
                <p class="fw-bold">Add grading information</p>
                <label>
                    Examination type <br />
                    <InputText id="examination-type" @bind-Value=gradingExaminationType DisplayName="Examination type" />
                    <br />
                </label>
                <label>
                    Mandatory (y/n)<br />
                    <InputText id="is-mandatory" @bind-Value=gradingIsMandatory DisplayName="Mandatory" />
                    <br />
                </label>
                <label>
                    Minimum grade <br />
                    <InputNumber id="minimum-grade" @bind-Value=gradingMinGrade DisplayName="Minimum grade" />
                    <br />
                </label>
                <label>
                    Maximum grade <br />
                    <InputNumber id="maximum-grade" @bind-Value=gradingMaxGrade DisplayName="Maximum grade" />
                    <br />
                </label>
                <label>
                    Description <br />
                    <InputText id="description" @bind-Value=gradingDescription DisplayName="Description" />
                    <br />
                </label>
                <label>
                    Classroom <br />
                    <InputText id="classroom" @bind-Value=gradingClassroom DisplayName="Classroom" />
                    <br />
                </label>
                <label>
                    Date and time <br />
                    <InputText id="grading-date-time" @bind-Value=gradingDateTime DisplayName="Date and time" />
                    <br />
                </label>

                <button type="submit" @onclick="AddGradingToLaboratory">Update</button>

            </div>

            <div>
                <br />
                <br />
                <br />
                <p class="fw-bold">Remove grading information</p>
                <p>Select grading information</p>
                <div id="select-grading-to-remove">
                    <InputSelect id="remove-grading-from-course" @bind-Value="removeGradingId" class="form-control">
                        @foreach (var grading in LaboratoryToView.LaboratoryGradingInfo)
                        {
                            <option value="@grading.Id" class="text-black-50">@grading.ExaminationType</option>
                        }
                    </InputSelect>
                </div>
                <button type="submit" @onclick="RemoveGradingFromLaboratory">Update</button>
            </div>

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </section>
}
