@page "/professors-overview"
<h3>ProfessorsOverview</h3>
<h3 class="fw-bold">Professors</h3>
@if (Professors == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <tabel class="table table-light">
        <thead class="table-primary">
        <th>Professor Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th></th>

        </thead>
        <tbody>
            @foreach (var professor in Professors)
            {
                <tr>
                    <td>@professor.Id</td>
                    <td>@professor.Name</td>
                    <td>@professor.Surname</td>
                    <td><button class="btn-outline-secondary" @onclick="(()=>DeleteProfessor(professor.Id))">Delete</button></td>
                </tr>
            }
        </tbody>
    </tabel>
}
<div>
    <section id="create-professor" class="mt-5">
        <h3 class="fw-bold">Add new Professor</h3>
        @if (NewProfessor == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <EditForm Model="@NewProfessor" OnValidSubmit="@CreateProfessor" class="col-2">
                <DataAnnotationsValidator />
                <label>
                    Name <br />
                    <InputText id="name" @bind-Value=NewProfessor.Name DisplayName="Name" />
                    <ValidationMessage For="@(() => NewProfessor.Name)"></ValidationMessage>
                    <br />
                </label>
                <label>
                    Surname <br />
                    <InputText id="surname" @bind-Value=NewProfessor.Surname DisplayName="Surname" />
                    <ValidationMessage For="@(() => NewProfessor.Surname)"></ValidationMessage>
                    <br />
                </label>
                <label>
                    Phone Number <br />
                    <InputText id="phoneNumber" @bind-Value=NewProfessor.PhoneNumber DisplayName="PhoneNumber" />
                    <ValidationMessage For="@(() => NewProfessor.PhoneNumber)"></ValidationMessage>
                    <br />
                </label>
                <button type="submit" id="createProfBtn">Add</button>
            </EditForm>
        }
    </section>
</div>

<section id="update-professors" class="mt-5">
    <h3 class="fw-bold">Edit a professor</h3>

    <div class="col-sm-10">
        Select Professor
        @if (Professors == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <InputSelect id="update-professor" @bind-Value="GuidProfessorForUpdate" class="form-control" >
                <option value="">Select professor</option>
                @foreach (var prof in Professors)
                {
                    <option value="@prof.Id" class="text-black">@prof.Name @prof.Surname</option>
                }
            </InputSelect>
            <p class="fw-bold">Update Professor Phone Number</p>
            <p>Select Contact Id</p>
            <InputSelect id="update-professor-contact" @bind-Value="GuidConatctForUpdate" class="form-control">
                @foreach (var contact in Contacts)
                {
                    <option value="@contact.Id" class="text-black-50">@contact.Id</option>
                }
            </InputSelect>
            <label>
                Phone Number <br />
                <InputText id="surname" @bind-Value=PhoneNumber DisplayName="PhoneNumber" />
                <br />
            </label>
            <button type="submit" onclick="@UpdateProfessor">Update</button>


            <p class="fw-bold">Update Name</p>
            <InputText id="new-name" @bind-Value=Name DisplayName="Name" />
            <button type="submit" onclick="@UpdateProfessorName">Update</button>



            <p class="fw-bold">Update Surname</p>
            <InputText id="new-surname" @bind-Value=Surname DisplayName="Surname" />
            <button type="submit" onclick="@UpdateProfessorSurname">Update</button>



            <p class="fw-bold">Add Courses</p>
            <p>Select Courses</p>
            <InputSelect @bind-Value="CourseGuid">
                @foreach (var course in Courses)
                {
                    <option value="@course.Id" class="text-black-50">@course.Id @course.Name</option>
                }
            </InputSelect>
            <button type="submit" onclick="@AddCourses">Add</button>
        }
    </div>
</section>