@page "/students-overview"
<h3>StudentsOverview</h3>
<h3 class="fw-bold">Students</h3>
@if (Students == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <tabel class="table table-light">
        <thead class="table-primary">
        <th>Student Id</th>
        <th>Student Name</th>
        <th>Student Surname</th>
        <th>Year</th>
        <th>Group</th>
        <th>Registration Number</th>
        <th>Email</th>
        <th></th>

        </thead>
        <tbody>
            @foreach (var student in Students)
            {
                <tr>
                    <td>@student.StudentId</td>
                    <td>@student.Name</td>
                    <td>@student.Surname</td>
                    <td>@student.Year</td>
                    <td>@student.Group</td>
                    <td>@student.RegistrationNumber</td>
                    <td>@student.Email</td>
                    <td><button class="btn-outline-secondary" @onclick="(() => DeleteStudent(student.StudentId))">Delete</button></td>
                </tr>
            }
        </tbody>
    </tabel>
}


<section id="create-student" class="mt-5" >
    <h3 class="fw-bold">Add new Student</h3>
    @if (NewStudent == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <EditForm Model="@NewStudent" OnValidSubmit="@CreateStudent" class="col-2">
            <DataAnnotationsValidator />
            <label>
                Name <br />
                <InputText id="name" @bind-Value=NewStudent.Name DisplayName="Name" />
                <ValidationMessage For="@(() => NewStudent.Name)"></ValidationMessage>
                <br />
            </label>
            <label>
                Surname <br />
                <InputText id="surname" @bind-Value=NewStudent.Surname DisplayName="Surname" />
                <ValidationMessage For="@(() => NewStudent.Surname)"></ValidationMessage>
                <br />
            </label>
            <label>
                Phone Number <br />
                <InputText id="phoneNumber" @bind-Value=NewStudent.PhoneNumber DisplayName="PhoneNumber" />
                <ValidationMessage For="@(() => NewStudent.PhoneNumber)"></ValidationMessage>
                <br />
            </label>
            <label>
                Year <br />
                <InputNumber id="year" @bind-Value=NewStudent.Year DisplayName="Year" />
                <ValidationMessage For="@(() => NewStudent.Year)"></ValidationMessage>
                <br />
            </label>
            <label>
                Group <br />
                <InputText id="group" @bind-Value=NewStudent.Group DisplayName="Group" />
                <ValidationMessage For="@(() => NewStudent.Group)"></ValidationMessage>
                <br />
            </label>
            <label>
                Registration Number <br />
                <InputText id="registrationNumber" @bind-Value=NewStudent.RegistrationNumber DisplayName="RegistrationNumber" />
                <ValidationMessage For="@(() => NewStudent.RegistrationNumber)"></ValidationMessage>
                <br />
            </label>
            <button type="submit">Add</button>
        </EditForm>
    }
</section>


<section id="update-student" class="mt-5">
    <h3 class="fw-bold">Edit a student</h3>

    <div class="col-sm-10">
        Select Student
        @if (Students == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <InputSelect id="update-student" @bind-Value="GuidStudentForUpdate" class="form-control">
                <option value="">Select...</option>
                @foreach (var student in Students)
                {
                    <option value="@student.StudentId" class="text-black">@student.Name @student.Surname</option>
                }

            </InputSelect>

            <p class="fw-bold">Update Name</p>
            <InputText id="new-name" @bind-Value=Name DisplayName="Name" />
            <button type="submit" onclick="@UpdateStudentName">Update</button>

            <p class="fw-bold">Update Surname</p>
            <InputText id="new-surname" @bind-Value=Surname DisplayName="Surname" />
            <button type="submit" onclick="@UpdateStudentSurname">Update</button>

            <p class="fw-bold">Update Group</p>
            <InputText id="new-group" @bind-Value=Group DisplayName="Group" />
            <button type="submit" onclick="@UpdateStudentGroup">Update</button>

            <p class="fw-bold">Update Year</p>
            <InputText id="new-year" @bind-Value=Year DisplayName="Year" />
            <button type="submit" onclick="@UpdateStudentYear">Update</button>

            <p class="fw-bold">Update Registration number</p>
            <InputText id="new-registration-number" @bind-Value=RegistrationNumber DisplayName="RegistrationNumber" />
            <button type="submit" onclick="@UpdateStudentRegistrationNumber">Update</button>

            <p class="fw-bold">Add Email</p>
            <InputText id="new-email" @bind-Value=Email DisplayName="Email" />
            <button type="submit" onclick="@AddEmail">Add</button>
        }

    </div>
</section>

